<div class="container p-0 ">
  <div>
    <nav class="navbar header-nav">
      <span class="dashboard-heading">Hello Admin, Welcome to EIMS</span>
    </nav>
  </div>

  <div class="container align-items-center">
    <div class="row justify-content-md-center">


      <!-- COLUMN 1 -->
      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="container card1 ">
          <div class="row mb-2">
            <div class="col">
              <p class="text1">Assign Roles and Privileges</p>
            </div>
          </div>
          <div class="row mb-3">
            <div class="col">
              <p class="text2">Search User to Assign</p>
            </div>
          </div>

          <div class="row">
            <div class="col">
              <div class="search-container">
                <i class="material-icons">search</i>
                <input type="text" placeholder="Search by Name or P.No" class="search-bar">
              </div>
            </div>
          </div>

          <div class="row mb-5">
            <div class="col ">
              <div class="line-container">
                <div class="line-text">Eunice Vusena</div>
                <i class="material-icons delete-icon">delete</i>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col">
              <p class="assign-role">Assign Role</p>
            </div>
          </div>

          <div class="row mb-5">
            <div class="col">
              <div class="button-container">
                <button class="button-sm" style="font-size: 12px;">Admin</button>
                <button class="button-lg" style="font-size: 12px; ">Supervisor</button>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col">
              <p class="assign-privileges-text">Assign Privileges</p>
            </div>
          </div>

          <div class="row">
            <div class="col">
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="check1">
                <label class="form-check-label" for="check1">
                  Priviledge1
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="check2">
                <label class="form-check-label" for="check2">
                  Priviledge1
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="check2">
                <label class="form-check-label" for="check2">
                  Priviledge1
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="check2">
                <label class="form-check-label" for="check2">
                  Priviledge1
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="check2">
                <label class="form-check-label" for="check2">
                  Priviledge1
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="check2">
                <label class="form-check-label" for="check2">
                  Priviledge1
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="check2">
                <label class="form-check-label" for="check2">
                  Priviledge1
                </label>
              </div>

              <!-- Repeat the above structure for all 14 checkboxes, making sure to increment the id and for attributes -->
            </div>
            <div class="col">
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="check9">
                <label class="form-check-label" for="check9">
                  Priviledge1
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="check10">
                <label class="form-check-label" for="check10">
                  Priviledge1
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="check2">
                <label class="form-check-label" for="check2">
                  Priviledge1
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="check2">
                <label class="form-check-label" for="check2">
                  Priviledge1
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="check2">
                <label class="form-check-label" for="check2">
                  Priviledge1
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="check2">
                <label class="form-check-label" for="check2">
                  Priviledge1
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="check2">
                <label class="form-check-label" for="check2">
                  Priviledge1
                </label>
              </div>
              <!-- Repeat the above structure for the remaining 6 checkboxes in the second column, making sure to increment the id and for attributes -->
            </div>
          </div>

          <div class="row mt-3 mb-5">
            <div class="col">
              <div class="d-flex justify-content-centeSubmitr w-100">
                <button type="submit" class="btn btn-black btn-lg w-100">Submit</button>
              </div>
            </div>
          </div>

        </div>
      </div>




      <!-- SECOND COLUNM -->
      <div class="col-lg-6 col-md-6 col-sm-6 ">

        <div class="container card3">
          <div class="row" style="height: 150px;">
            <div class="col-12 d-flex flex-wrap gap-5">
              <div class="col px-0 py-2 no-recent-activity">
                <p>No recent activity</p>
              </div>
              <div class="col-lg-3 col-sm-1 col-sm-3 py-2 rounded-pill d-flex justify-content-center assign-rolee"
                style="font-weight: 500;">
                <p>Assign Role</p>
              </div>
            </div>
          </div>

          <!-- group button -->
          <div class="row row2 mb-2 p-3">
            <div class="d-flex justify-content-between">
              <a href="javascript:void(0)" class="btn btn-group-text"
                style="line-height: 1; color:#DFDFDF;">declared</a>
              <a href="javascript:void(0)" class="btn btn-group-text" style="line-height: 1; color:#DFDFDF;">pending</a>
              <a href="javascript:void(0)" class="btn btn-group-text"
                style="line-height: 1; color:#DFDFDF;">complete</a>
            </div>
            <div class="btn-group" style="background-color: #DFDFDF; border: none; height: 15px;">
              <a href="javascript:void(0)" class="btn " style="line-height: 1"></a>
              <a href="javascript:void(0)" class="btn" style="line-height: 1"></a>
              <a href="javascript:void(0)" class="btn " style="line-height: 1"></a>
            </div>
          </div>
        </div>

        <!-- FOUR DIVS -->

        <div class="container  ">
          <div class="row">
            <!-- fist column -->
            <div class="col-sm-6 d-flex flex-column p-0">

              <!-- first mini card individual-conflicts -->
              <div class="d-flex flex-column card2 me-2">

                <div class="pb-1 flex-fill ">
                  <p style="height:3px; color: #DFDFDF; font-size: 10px;">Year to date</p>
                </div>

                <div class="p-0 d-flex justify-content-between " style="width: 100%;">
                  <p class="" style="color:#741110; font-weight: 600; font-size: 18px;">Individual conflicts</p>
                  <span class="text-muted"><i class="material-icons">more_vert</i></span>
                </div>

                <div class="p-0 mt-4  flex-fill d-flex" style="width: 100%;">
                  <div class="col-4 p-0 d-flex justify-content-flex-start align-items-start"
                    style="font-size: 52px; font-weight: 500; width:20%; height: 20px;">
                    0
                  </div>
                  <div class="col-4 p-0 d-flex justify-content-flex-start align-items-start ">
                    <p class="mb-0">declared</p>
                  </div>
                  <div class="col-4 ms-3 p-0 d-flex position-relative " style="height: 100px; width: 120px;">
                    <img class="position-absolute p-0 bottom-0 end-0 "
                      src="../../../../assets/icons/dashboard-icons/individualconflicts-icon.svg" alt="Icon"
                      style="height:100px;">
                  </div>

                </div>
              </div>

              <!-- second mini card gifts given out-->
              <div class=" d-flex flex-column card2 me-2">

                <div class="pb-1 flex-fill ">
                  <p style="height:3px; color: #DFDFDF; font-size: 10px;">Year to date</p>
                </div>

                <div class="p-0 d-flex justify-content-between " style="width: 100%;">
                  <p class="" style="color:#741110; font-weight: 600; font-size: 18px;">Gifts Given Out</p>
                  <span class="text-muted"><i class="material-icons">more_vert</i></span>
                </div>

                <div class="p-0 mt-4  flex-fill d-flex" style="width: 100%;">
                  <div class="col-4 p-0 d-flex justify-content-flex-start align-items-start"
                    style="font-size: 52px; font-weight: 500; width:20%; height: 20px;">
                    0
                  </div>
                  <div class="col-4 p-0 d-flex justify-content-flex-start align-items-start ">
                    <p class="mb-0">declared</p>
                  </div>
                  <div class="col-4 ms-3 p-0 d-flex position-relative " style="height: 100px; width: 120px;">
                    <img class="position-absolute p-0 bottom-0 end-0 "
                      src="../../../../assets/icons/dashboard-icons/gifts-given-out.svg" alt="Icon"
                      style="height:100px;">
                  </div>

                </div>
              </div>

            </div>

            <!-- second column -->

            <div class="col-sm-6 d-flex flex-column p-0">
              <!-- second mini card group-conflicts -->
              <div class="d-flex flex-column card2 me-2">

                <div class="pb-1 flex-fill ">
                  <p style="height:3px; color: #DFDFDF; font-size: 10px;">Year to date</p>
                </div>

                <div class="p-0 d-flex justify-content-between " style="width: 100%;">
                  <p class="" style="color:#741110; font-weight: 600; font-size: 18px;">Group Conflicts</p>
                  <span class="text-muted"><i class="material-icons">more_vert</i></span>
                </div>

                <div class="p-0 mt-4  flex-fill d-flex" style="width: 100%;">
                  <div class="col-4 p-0 d-flex justify-content-flex-start align-items-start"
                    style="font-size: 52px; font-weight: 500; width:20%; height: 20px;">
                    0
                  </div>
                  <div class="col-4 p-0 d-flex justify-content-flex-start align-items-start ">
                    <p class="mb-0">declared</p>
                  </div>
                  <div class="col-4 ms-3 p-0 d-flex position-relative " style="height: 100px; width: 120px;">
                    <img class="position-absolute p-0 bottom-0 end-0 "
                      src="../../../../assets/icons/dashboard-icons/group-conflict.svg" alt="Icon"
                      style="height:100px;">
                  </div>


                </div>
              </div>

              <!-- fourth mini card gifts received -->
              <div class=" pr-0 d-flex flex-column card2 me-2">

                <div class="pb-1 flex-fill ">
                  <p style="height:3px; color: #DFDFDF; font-size: 10px;">Year to date</p>
                </div>

                <div class="p-0 d-flex justify-content-between " style="width: 100%;">
                  <p class="" style="color:#741110; font-weight: 600; font-size: 18px;">Gifts Received </p>
                  <span class="text-muted"><i class="material-icons">more_vert</i></span>
                </div>

                <div class="p-0 mt-4  flex-fill d-flex" style="width: 100%;">
                  <div class="col-4 p-0 d-flex justify-content-flex-start align-items-start"
                    style="font-size: 52px; font-weight: 500; width:20%; height: 20px;">
                    0
                  </div>
                  <div class="col-4 p-0 d-flex justify-content-flex-start align-items-start ">
                    <p class="mb-0">declared</p>
                  </div>
                  <div class="col-4 ms-3 p-0 d-flex position-relative " style="height: 100px; width: 120px;">
                    <img class="position-absolute p-0 bottom-0 end-0 "
                      src="../../../../assets/icons/dashboard-icons/gift-received.svg" alt="Icon" style="height:100px;">
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>

      </div>

      <!-- THIRD COLUMN -->
      <div class="col-lg-3 col-md-12 col-sm-12">
        <div class="container card4">
          <div class="row p-0 mb-4">
            <div class="col-12 p-0 d-flex align-items-center">
              <div class="d-flex p-0 align-items-center w-100">
                <img src="../../../../assets/icons/main-layout-icons/history.svg" class="pe-1 mt-1" 
                style="height:20px; " alt="">
                <p class="flex-grow-1 pt-3 ms-1 fw-semibold"
                  style="font-size: 20px; color: #570c0c !important; font-family: Roboto; ">History</p>
                <i class="material-icons ml-3">more_vert</i>
              </div>
            </div>
          </div>

          <div class="row" style="max-height:40px;">
            <div class="col-1 p-0">
              <img src="../../../../assets/icons/group-conflicts-icon.png"
                style=" font-size: 20px; padding-right: 3px;">
            </div>
            <div class="col-8 p-0">
              <p style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis; color: #133B3A;
              font-size: 15px; padding-top: 4px;padding-left: 3px;padding-right: 3px;">
                Tender Evaluation Committee</p>
            </div>
            <div class="col-3 p-0">
              <p style="padding-top: 4px; color: #BFBFBF; font-size: 11px;">31/08/2022</p>
            </div>
          </div>
          <div class="row">
            <div class="col p-0">
              <p style="color:#000000; font-size: 12px;">Lorem ipsum dolor sit, amet consectetur adipisicing elit. S
                oluta cum cumque reiciendis minima molestias
                nam!</p>
            </div>
          </div>

          <div class="row" style="max-height:40px;">
            <div class="col-1 p-0">
              <img src="../../../../assets/icons/gift-icon.png" style=" font-size: 20px; padding-right: 3px;">
            </div>
            <div class="col-8 p-0">
              <p style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis; color: #133B3A;
              font-size: 15px; padding-top: 4px;padding-left: 3px;padding-right: 3px;">
                Tender Evaluation Committee</p>
            </div>
            <div class="col-3 p-0">
              <p style="padding-top: 4px; color: #BFBFBF; font-size: 11px;">31/08/2022</p>
            </div>
          </div>

          <div class="row">
            <div class="col p-0">
              <p style="color:#000000; font-size: 12px;">Lorem ipsum dolor sit, amet consectetur adipisicing elit. S
                oluta cum cumque reiciendis minima molestias
                nam!</p>
            </div>
          </div>


        </div>
      </div>

    </div>
  </div>
</div>