<div>
  <nav class="navbar  header-nav ">
    <span class="dashboard-heading">Hello Admin, Welcome to EIMS</span>
  </nav>

</div>

<div class="container">

  <!-- Row -->
  <div class="row">

    <!-- First card with col-3 -->
    <div class="col-3">
      <div class="card1 align-items-start  d-flex">
        <div class="card-content1">
          <p class="text1"> Assign Roles and Privileges</p>
        </div>
        <div class="card-content2">
          <p class="text2">Search User to Assign </p>
        </div>
        <!-- Search button -->

        <div class="search-container">
          <!-- Search icon -->
          <mat-icon class="search-icon">search</mat-icon>

          <!-- Search input -->
          <mat-form-field class="search-input">
            <input matInput placeholder="Search...">
          </mat-form-field>
        </div>

      </div>


      <!-- Second card with col-6 -->
      <div class="col-6">
        <div class="card2">
          <!-- Card content -->
        </div>
      </div>
      <!-- Third card with col-3 -->
      <div class="col-3">
        <div class="card3">
          <!-- Card content -->
        </div>
      </div>
    </div>
  </div>