<div class="container">

    <div class="row">
        <div class="col d-flex justify-content-end">
          <p class="clear p-3" (click)="onClear()">
            Clear
            <img class="" src="./../../../assets/icons/main-layout-icons/clear-icon.svg" alt="Clear Icon">
          </p>
        </div>
      </div>
    <div class="row">
        <div class="col d-flex justify-content-center">
            <p class="success">SUCCESS</p>
        </div>
    </div>
    <div class="row">
        <div class="col"></div>
    </div>
</div>
