  
.header-nav {
    height: 50px;
    width: 100%;
    padding-left: 15px;
    opacity: 1;
    margin-bottom: 10px;
  
  }
    
  .dashboard-heading {
    font-family: "Roboto";
    font-size: 20px;
    font-weight: 700;
  
  }
  

  .card1 {
    background-color: #FFFFFF;
    border: 1px solid #EFEFEF;
    border-radius: 15px;
    opacity: 0.9;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    min-height: 678px;
  }
  .card3 {
    background-color: #FFFFFF;
    border: 1px solid #EFEFEF;
    border-radius: 15px;
    opacity: 0.9;
    flex-direction: row;
    align-items: flex-start;
    padding-left: 25px;
    padding-right: 25px;
    min-height: 678px;
    //  margin-left: 10px;
    //  margin-right: 10px;
  
  }
  .schedule{
    color: #570C0C;
    font-size: 20px;
    font-weight: 600;
  }
  .textfonts {
    font-size: 13px;
    color: #000000;
  }
  .xyz {
    width: 100%;
  
  }

  .buttonn {
    border-radius: 25px;
  }

  
  