
.background-img {
        background-image: url('../../../../../assets/img/main/dashboard-bg.svg')!important;
        background-repeat: no-repeat;
        background-size: cover;
        height: 100%;
        width:100%;
    }

// .footer{

//     bottom:0;
//     position:absolute;
//     clear:both;
// }

.main-panel{
overflow-x: hidden !important;
}